body {
  background: #eceff8 !important;
}

::selection {
  color: rgb(27, 52, 194);
  background: rgb(244, 214, 17);
}

.row {
  margin: 0;
}

h3 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.loader {
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 1.5s ease-in-out infinite;
}

.loader-circle:before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 8px solid #7e3af2;
  border-color: #7e3af2 transparent #7e3af2 transparent;
  animation: loader 1.2s linear infinite;
}

.loader-text {
  color: #7e3af2;
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}

.news-item-helper {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 25px;
  transition: 0.4s ease-out
}

@property --angle {
	syntax: '<angle>';
	inherits: true;
	initial-value: 0deg;
}

.news-item-current {
	--angle: 0deg;
	background: linear-gradient(white, white) padding-box, conic-gradient(from var(--angle), #dfdfdf, #17171b) border-box !important;
	border: 2px solid transparent;
	border-radius: 5px;
	animation: rotate-gradient 3s infinite linear;
}

.event-card {
  width: 100%;
  background: white;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.event-card:hover {
  box-shadow: #cfd5e0 0 0 10px 5px;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.date-time {
  padding: 10px 0;
  width: 200px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.dt1 {
  background: #eceff8;
}
.dt2 {
  background: #f8ecf8;
}
.dt3 {
  background: #f8ecec;
}
.dt4 {
  background: #eef8ec;
}

.date {
  font-size: 12px;
  font-weight: 600;
}

.time {
  font-size: 22px;
  font-weight: 700;
}

.event-detail {
  font-size: 12px;
  /* color: #4b4b4b; */
  margin-top: 5px;
}

ion-icon {
  color: white;
  font-size: 17px;
}

@keyframes rotate-gradient {
	from { --angle: 0deg; }
	to { --angle: 360deg; }
}

.type {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
}

.search-container {
  position: relative;
  display: block;
  margin: 0 auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  border-radius: 5px;
}

input#search-bar:focus {
  border: 1px solid #008ABF;
  transition: border 0.35s ease;
  color: #008ABF;
}

input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus:-ms-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  color: #008ABF;
  position: absolute;
  font-size: 20px;
  top: 14px;
  right: 20px;
}

.no-result-img {
  width: 100%;
  height: 100%;
}

.dropdown {
  padding-right: 0;
}

/* pagination */
.pagination {
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.page-number {
  cursor: pointer;
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease;
}

.page-number.active {
  font-size: 1em;
  height: 35px;
  width: 35px;
  background-color: #0057b3;
  color: white;
}

button {
  width: 120px;
  padding: 8px 16px;
  background-color: #ffffff00;
  color: #0057b3;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button:hover {
  color: #0056b3;
}

button:disabled {
  background-color: #ffffff00;
  color: #ccc;
  cursor: not-allowed;
}

#prevPage {
  margin-right: 20px;
}

#nextPage {
  margin-left: 20px;
}

.arrow {
  font-size: 1.2em;
}

.nav-text {
  font-size: 1em;
  letter-spacing: 0.3em;
}

.title {
  display: inline-block;
  border-bottom: 4px solid rgb(194, 31, 189);
}

.form-select:focus {
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgb(152 181 223 / 25%);
}

.fa-right-from-bracket {
  cursor: pointer;
  font-size: 20px;
  color: #7e3af2;
}

.events {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
}


.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  width: auto !important;
}

.contant_box_404 {
  margin-top: -50px;
}

/* skeleton */

.skeleton {
  padding: 15px;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.skeleton .square {
  height: 80px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}

.skeleton .line {
  height: 12px;
  margin-bottom: 6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.skeleton-right {
  flex: 1;
}

.skeleton-left {
  flex: 2;
  padding-right: 15px;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.skeleton .line:last-child {
  margin-bottom: 0;
}

.h8 {
  height: 8px !important;
}

.h10 {
  height: 10px !important;
}

.h12 {
  height: 12px !important;
}

.h15 {
  height: 15px !important;
}

.h17 {
  height: 17px !important;
}

.h20 {
  height: 20px !important;
}

.h25 {
  height: 25px !important;
}

.w25 {
  width: 25% !important
}

.w40 {
  width: 40% !important;
}

.w50 {
  width: 50% !important
}

.w75 {
  width: 75% !important
}

.m10 {
  margin-bottom: 10px !important;
}

.circle {
  border-radius: 50% !important;
  height: 80px !important;
  width: 80px;
}


@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}


@media only screen and (max-width: 1024px) {
  .events {
    margin-top: 30px;
  }

  .loginbackground,
  .login {
    padding-top: 0 !important;
  }

  .formbg {
    max-width: 400px !important;
  }

  .formbg-inner {
    padding: 20px 40px !important;
  }
}

@media only screen and (max-width: 767px) {
  .arrow {
    display: none;
  }

  #prevPage,
  #nextPage {
    margin-left: 0;
    margin-right: 0;
  }

  .formbg {
    width: 90% !important;
  }

  .types {
    display: ruby-text !important;
  }

  .types button {
    margin: 5px;
  }

  .type {
    justify-content: start !important;
  }

  .events {
    margin-top: 30px;
  }

  .dropdown {
    margin-top: 20px;
    padding: 0;
  }

  .tabs {
    margin-top: 25px !important;
  }
}
